<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.sist.board">
<insert id="insertBoard" parameterType="boardDomain">
<!--board 테이블에 추가작업  -->
insert into board(num,title,content,ip,id) values(seq_board.nextval,#{title},#{content},#{ip},#{id})
</insert>

<select id="selectBoardTotalCnt" parameterType="rangeDTO" resultType="int">
select count(*) cnt from board
<where>
	<if test="keyword neq null and keyword neq ''">
		instr(${fieldStr}, #{keyword}) != 0
	</if>
</where>
</select>

<select id="selectRangeBoard" parameterType="rangeDTO" resultType="boardDomain">
select num, title, input_date, cnt, id
from(select num, title, input_date, cnt,id,
row_number() over( order by input_date desc) rnum
from board
<where>
<if test="keyword neq null and keyword neq ''">
instr( ${fieldStr}, #{ keyword } ) != 0
</if>
</where>
)where rnum between #{ startNum } and #{ endNum }

</select>
</mapper>